[submodule "themes/Anisina"]
	path = themes/Anisina
	url = https://github.com/Haojen/hexo-theme-Anisina.git
[submodule "themes/Chan"]
	path = themes/Chan
	url = https://github.com/denjones/hexo-theme-chan.git
